@use 'frontend/utils/variables' as *;

.Header{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    background: $header-bg;
    font-size: $header-font-size;
}

@mixin HeaderItem{
    height: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderLink{
    @include HeaderItem;

    transition-duration: $hover-trans-duration;
    &:hover{
        background: $header-item-hover-bg;
    }
}

.HeaderLogo{
    @include HeaderItem;
}