@use 'frontend/utils/variables' as *;

.HomeLayout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    padding: 4rem;
}

.Content{
    background: $home-card-bg;
    border-radius: 16px;
    width: 60%;
    padding: 1rem 2rem;
    h1{
        font-size: 2rem;
        font-weight: bold;
        border-style: none none solid none;
        border-width: 1px;
        border-color: $text-color;
    }
    p a{
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}