@use 'frontend/utils/variables' as *;

.GraphHeader{
    background: $form-header-bg;
    padding: 20px 0 20px 0;

    display: grid;
    grid-template-columns: 15% 30% 30% 10% 15%;
    grid-template-areas: 
    ". series measure-density submit ."
    ". . . submit ."
    ". msgs msgs submit ."
}
@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.SeriesContainer{
    grid-area: series;
    @include flexCentering(column);
}

.MeasureByDensityContainer{
    grid-area: measure-density;
    @include flexCentering(column);
}

.SubmitContainer{
    grid-area: submit;
    @include flexCentering(column);
}

.BlockSubmit{
}

.MessageContainer{
    grid-area: msgs;
    @include flexCentering(column);
}

.Warning{
    box-shadow: 0 0 10px $card-warning-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}
.WarningMsg{
    color: $card-warning-color
}
.ErrorMsg{
    color: $card-error-color
}