@use 'frontend/utils/variables' as *;

$radius: 16px;

.Correct{
    box-shadow: 0 0 10px $card-correct-color;
}
.Warning{
    box-shadow: 0 0 10px $card-warning-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}

.Hide{
    display: none;
}
.Card{
    background: $card-bg;
    border-radius: $radius;

    display: grid;
    grid-template-areas: 
    "algorithm data deleteBtn"
    "maxVal params deleteBtn"
    "msgs msgs deleteBtn"
}
@mixin margins{
    margin: 2rem 2rem;
}
@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.AlgorithmSelectContainer{
    grid-area: algorithm;

    @include flexCentering(column);
    @include margins;
}
.DataSelectContainer{
    grid-area: data;
    @include flexCentering(column);
    @include margins;
}

.MaxValContainer{
    grid-area: maxVal;
    @include flexCentering(column);
    @include margins;
}
.Percent{
    display: inline-block;
    pointer-events: none;
    margin-left: -1rem;
    color: grey;
}
.ParamsContainer{
    grid-area: params;
    @include flexCentering(row);
}
.Param{
    @include flexCentering(column);
    @include margins;
}

.MessagesContainer{
    grid-area: msgs;
    @include flexCentering(column);
    border-radius: 0 0 0 $radius;
    
}
.WarningMsg{
    color: $card-warning-color
}
.ErrorMsg{
    color: $card-error-color
}

.DeleteBtn{
    @include flexCentering(column);
    margin: 0;
    width: 8rem;
    border-radius: 0 $radius $radius 0;
    grid-area: deleteBtn;
    cursor: pointer;

    transition-duration: $trans-duration;
    &:hover{
        background: $card-error-color;
    }
}