@use 'frontend/utils/variables' as *;

.SortingHeader{
    background: $form-header-bg;

    display: grid;
    grid-template-areas: 
    ". sizeInput series submit ."
    ". maxVal . submit ."
    ". msgs msgs submit ."
}
@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

    margin: .4rem .6rem;
}

.SizeContainer{
    grid-area: sizeInput;
    @include flexCentering(column);
}

.SeriesContainer{
    grid-area: series;
    @include flexCentering(column);
}

.MaxValContainer{
    grid-area: maxVal;
    @include flexCentering(row);
}

.SubmitContainer{
    grid-area: submit;
    @include flexCentering(column);
}

.MessageContainer{
    grid-area: msgs;
    @include flexCentering(column);
}

.Warning{
    box-shadow: 0 0 10px $card-warning-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}
.WarningMsg{
    color: $card-warning-color
}
.ErrorMsg{
    color: $card-error-color
}