@use 'frontend/utils/variables' as *;

$radius: 16px;

@mixin margins{
    margin: 2rem 2rem;
}
@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.Correct{
    box-shadow: 0 0 10px $card-correct-color;
}
.Warning{
    box-shadow: 0 0 10px $card-warning-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}

.Hide{
    display: none;
}
.Card{
    background: $card-bg;
    border-radius: $radius;

    display: grid;
    width: 80%;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
    "form deleteBtn"
    "msgs deleteBtn"
}
.CardForm{
    grid-area: form;
    border-radius: $radius 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.DeleteBtn{
    grid-area: deleteBtn;
    border-radius: 0 $radius $radius 0;
    @include flexCentering(column);
    margin: 0;
    cursor: pointer;

    transition-duration: $trans-duration;
    &:hover{
        background: $card-error-color;
    }
}
.MessagesContainer{
    grid-area: msgs;
    border-radius: 0 0 0 $radius;
    @include flexCentering(column);
}

.FormControl{
    @include flexCentering(column);
    @include margins;
}
.Percent{
    display: inline-block;
    pointer-events: none;
    margin-left: -1rem;
    color: grey;
}
.WarningMsg{
    color: $card-warning-color
}
.ErrorMsg{
    color: $card-error-color
}