@use 'frontend/utils/variables' as *;

.SortingHeader{
    background: $form-header-bg;
    padding: 20px 0 20px 0;

    display: grid;
    width: 100%;
    grid-template-columns: 10% auto auto 10%;
    grid-template-areas: 
    ". form submit ."
    ". msgs submit ."
}
@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

    margin: .4rem .6rem;
}
@mixin margins{
    margin: 2rem 2rem;
}

.HeaderForm{
    grid-area: form;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FormControl{
    @include flexCentering(column);
    @include margins;
}

.SubmitContainer{
    grid-area: submit;
    @include flexCentering(column);
}

.MessageContainer{
    grid-area: msgs;
    @include flexCentering(column);
}

.Warning{
    box-shadow: 0 0 10px $card-warning-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}
.WarningMsg{
    color: $card-warning-color
}
.ErrorMsg{
    color: $card-error-color
}