@use 'frontend/utils/variables' as *;

@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 1rem;
    width: 30vw;
    min-width: 480px;
}

.Label{
    width: 100%;
    padding-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.ButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
        @include flexCentering(column);
        display: inline-block;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        padding: $def-font-size;
      
        background: $button-bg;
        color: $text-color;
      
        transition-duration: $trans-duration;
        &:hover{
          background: $button-hover-bg;
        }
    }
    button{
        margin-left: 0.8rem 
    }
}
.Chart{
    @include flexCentering(column);
    grid-area: chart;
    height: 70vh;
    padding: 1rem;
}