@use 'frontend/utils/variables' as *;

$radius: 16px;

.Correct{
    box-shadow: 0 0 10px $card-correct-color;
}
.Error{
    box-shadow: 0 0 10px $card-error-color;
}

@mixin CardBase{
    width: 60%;
    background: $card-bg;
    border-radius: $radius;

    display: grid;
    grid-template-columns: 45% 45% 10%;
}
.Card{
    @include CardBase;
    grid-template-areas: 
    "algorithm data deleteBtn"
    "maxVal . deleteBtn"
}
.CardWithParams{
    @include CardBase;
    grid-template-areas: 
    "algorithm data deleteBtn"
    "maxVal params deleteBtn"
}

@mixin flexCentering($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.AlgorithmSelectContainer{
    grid-area: algorithm;

    @include flexCentering(column);
}
.AlgorithmSelect{

}
.DataSelectContainer{
    grid-area: data;
    @include flexCentering(column);
}
.DataSelect{

}
.MaxValContainer{
    grid-area: maxVal;
    @include flexCentering(column);
}
.ParamsSelectContainer{
    grid-area: params;
}

.DeleteBtn{
    @include flexCentering(column);
    margin: 0;
    height: 100%;
    border-radius: 0 $radius $radius 0;
    grid-area: deleteBtn;
    cursor: pointer;
    &:hover{
        background: $card-error-color;
    }
}