@use 'frontend/utils/variables' as *;

.ExperimentContents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5vh;
    gap: 5vh;
}

.ExperimentSwitch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ExperimentCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border: 2px solid $text-color;
    border-radius: 16px;
    background: $header-bg;

    transition-duration: $trans-duration;
    &:hover{
        background: $header-item-hover-bg;
        box-shadow: 0 0 10px $text-color;
    }
}