$def-font-size: 1rem;
$text-color: rgb(255,255,255);
$bg: rgb(20,20,20);
$home-card-bg: rgb(26,26,26);

$disabled-button-bg: rgb(100,100,100);
$button-bg: rgb(10,180,120);
$button-hover-bg: rgb(8,144,95);

$input-bg: rgb(20,20,20);

$checkbox-color: rgb(20,20,20);
$checkbox-hover-color: rgb(32,32,32);
$checkbox-checked-color: rgb(10,180,120);

$trans-duration: .4s;

$header-bg: rgb(32,32,32);
$header-font-size: 1.4rem;
$header-item-hover-bg: rgb(40,40,40);

$form-header-bg: rgb(26,26,26);
$form-card-container-bg: $bg;

$card-bg: $form-header-bg;
$card-correct-color: rgb(10,180,120);
$card-warning-color: rgb(255, 255, 0);
$card-error-color: rgb(255,0,0);

$result-header-bg: rgb(26,26,26);
$result-series-label-bg: rgb(32,32,32);
$result-series-label-hover-bg: rgb(40,40,40);



