$def-font-size: 1rem;
$text-color: rgb(255,255,255);
$bg: rgb(20,20,20);
$button-bg: rgb(10,180,120);
$button-hover-bg: rgb(8,144,95);
$item-hover-bg: rgb(40,40,40);

$header-bg: rgb(32,32,32);
$header-font-size: 1.4rem;

$form-control-bg: rgb(26,26,26);
$form-card-container-bg: $bg;


$card-bg: $form-control-bg;
$card-correct-color: $button-bg;
$card-error-color: rgb(255,0,0);



